.container-1 {
  border: black solid 2px;
  margin: 0 auto;
  width: 75%;
  text-align: center;
}

.flexbox-container-1 {
  display: flex;
  border: red solid 1px;
  padding: 10px;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.flexbox-container-1 div {
  /* for divs inside flexbox-container-1 class */
  display: flex;
  border: darkblue solid 1px;
  padding: 10px;
  align-items: center;
}
