.container-1 {
  border: black solid 2px;
  margin: 0 auto;
  width: 75%;
  text-align: center;
}

.flexbox-container-1 {
  display: flex;
  border: red solid 1px;
  padding: 10px;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.flexbox-container-1 div {
  /* for divs inside flexbox-container-1 class */
  display: flex;
  border: darkblue solid 1px;
  padding: 10px;
  align-items: center;
}

.container-2 {
  border: black solid 2px;
  text-align: center;
  margin: 0 auto;
  width: 75%;
}

.container-2 input {
  margin: 10px;
}

.flexbox-container-2 {
  border: red solid 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flexbox-container-2 img {
  border: green solid 1px;
  padding: 10px;
  box-shadow: -1px -1px 38px 0px rgba(70, 184, 178, 0.75);
  -webkit-box-shadow: -1px -1px 38px 0px rgba(70, 184, 178, 0.75);
  -moz-box-shadow: -1px -1px 38px 0px rgba(70, 184, 178, 0.75);
}
